<footer>
    <div class='grid__full-width footer'>
        <div class='grid__row'>
            <div class='grid__column-3'>
                <img src='/images/logo.png' alt='logo' />
                <ul class='footer__list'>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Giới thiệu</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Liên hệ</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Tuyển dụng</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Tin tức</a>
                    </li>
                </ul>
                <ul class='footer__list'>
                    <li class='footer__list-item'>
                        <i class='far fa-envelope'></i>
                        Email:
                        <a
                            href='mailto:datdangphan@gmail.com'
                            class='footer__list-item-link'
                        >datdangphan@gmail.com</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-phone-alt'></i>
                        Hotline:
                        <a
                            href='tel:0868345610'
                            class='footer__list-item-link'
                        >0868345610</a>
                    </li>
                </ul>
            </div>
            <div class='grid__column-3'>
                <h3 class='footer__header'>Hỗ trợ khách hàng</h3>
                <ul class='footer__list'>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Hướng dẫn đặt
                            hàng</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Hướng dẫn
                            chọn size</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Câu hỏi
                            thường gặp</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Chính sách
                            khách VIP</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Thanh toàn -
                            giao hàng</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Chính sách
                            đổi hàng</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Chính sách
                            bảo mật</a>
                    </li>
                    <li class='footer__list-item'>
                        <i class='fas fa-angle-double-right'></i>
                        <a href='#' class='footer__list-item-link'>Chính sách
                            cookie</a>
                    </li>
                </ul>
            </div>
            <div class='grid__column-3'>
                <h3 class='footer__header'>Hệ thống cửa hàng</h3>
                <iframe
                    src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59462.39595740009!2d105.402472!3d21.334722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313492ac6d24b6e7%3A0xbaa4d69d8fd66482!2zMjHCsDIwJzA1LjAiTiAxMDXCsDI0JzA4LjkiRQ!5e0!3m2!1svi!2sus!4v1631977648296!5m2!1svi!2sus'
                    width='90%'
                    height='auto'
                    style='border:0;'
                    allowfullscreen=''
                    loading='lazy'
                ></iframe>
            </div>
            <div class='grid__column-3'>
                <h3 class='footer__header'>Kết nối với DEV</h3>
                <iframe
                    src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBrH-huydev-262343815618644&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId'
                    width='90%'
                    height='140'
                    style='border:none;overflow:hidden'
                    scrolling='no'
                    frameborder='0'
                    allowfullscreen='true'
                    allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'
                ></iframe>
                <ul class='footer__social'>
                    <li class='footer__list-social'>
                        <a
                            href='https://www.facebook.com/dat.phandang/'
                            class='footer__list-item-link'
                        >
                            <i class='fab fa-facebook-square'></i>
                        </a>
                    </li>
                    <li class='footer__list-social'>
                        <a
                            href='https://www.instagram.com/d.a.t.d.a.t/'
                            class='footer__list-item-link'
                        >
                            <i class='fab fa-instagram-square'></i>
                        </a>
                    </li>
                    <li class='footer__list-social'>
                        <a
                            href='https://www.youtube.com/channel/UC5HNHaX4XU5Qgi-pvDmzt7w'
                            class='footer__list-item-link'
                        >
                            <i class='fab fa-youtube-square'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>