<header class='header'>
    <div class='grid'>
        <nav class='header__nav grid__row'>
            <!-- logo -->
            <a href='/' class='header__nav-logo'>
                <img class='header__nav-brand-icon' src='/images/logo.png' />
            </a>
            <!-- list item -->
            <ul class='header__nav-list'>
                <li class='header__nav-item'>
                    <a class='header__nav-item-link' href='/hang-moi'>HÀNG MỚI</a>
                    <span class='header__nav-badge'>Hot</span>
                </li>
                <li class='header__nav-item'>
                    <a class='header__nav-item-link' href='/ao-nam'>ÁO NAM</a>
                    <ul class='header__nav-dropdown'>
                        <li><a
                                href='/ao-nam/ao-so-mi-nam'
                                class='header__nav-dropdown-link'
                            >Áo sơ mi</a></li>
                        <li><a
                                href='/ao-nam/ao-thun-nam'
                                class='header__nav-dropdown-link'
                            >Áo thun</a></li>
                        <li><a
                                href='/ao-nam/ao-polo-nam'
                                class='header__nav-dropdown-link'
                            >Áo polo</a></li>
                        <li><a
                                href='/ao-nam/ao-khoac-nam'
                                class='header__nav-dropdown-link'
                            >Áo khoác</a></li>
                        <li><a
                                href='/ao-nam/ao-vest-nam'
                                class='header__nav-dropdown-link'
                            >Áo vest</a></li>
                        <li><a
                                href='/ao-nam/ao-ghi-le-nam'
                                class='header__nav-dropdown-link'
                            >Áo ghi lê</a></li>
                        <li><a
                                href='/ao-nam/ao-len'
                                class='header__nav-dropdown-link'
                            >Áo len</a></li>
                    </ul>
                </li>
                <li class='header__nav-item'>
                    <a class='header__nav-item-link' href='/quan-nam'>QUẦN NAM</a>
                    <ul class='header__nav-dropdown'>
                        <li><a
                                href='/quan-nam/quan-jean-nam'
                                class='header__nav-dropdown-link'
                            >Quần jean</a></li>
                        <li><a
                                href='/quan-nam/quan-tay-nam'
                                class='header__nav-dropdown-link'
                            >Quần tây</a></li>
                        <li><a
                                href='/quan-nam/quan-kaki-nam'
                                class='header__nav-dropdown-link'
                            >Quần kaki</a></li>
                        <li><a
                                href='/quan-nam/quan-jogger-nam'
                                class='header__nav-dropdown-link'
                            >Quần jogger</a></li>
                        <li><a
                                href='/quan-nam/quan-short-nam'
                                class='header__nav-dropdown-link'
                            >Quần short</a></li>
                        <li><a
                                href='/quan-nam/quan-lot-nam'
                                class='header__nav-dropdown-link'
                            >Quần lót</a></li>
                    </ul>
                </li>
                <li class='header__nav-item'>
                    <a class='header__nav-item-link' href='/phu-kien'>PHỤ KIỆN</a>
                    <ul class='header__nav-dropdown'>
                        <li><a
                                href='/phu-kien/that-lung-nam'
                                class='header__nav-dropdown-link'
                            >Thắt lưng</a></li>
                        <li><a
                                href='/phu-kien/vi-da-nam'
                                class='header__nav-dropdown-link'
                            >Ví da</a></li>
                        <li><a
                                href='/phu-kien/ca-vat-nam'
                                class='header__nav-dropdown-link'
                            >Cà vạt</a></li>
                        <li><a
                                href='/phu-kien/no-nam'
                                class='header__nav-dropdown-link'
                            >Nơ</a></li>
                        <li><a
                                href='/phu-kien/tat-nam'
                                class='header__nav-dropdown-link'
                            >Tất</a></li>
                        <li><a
                                href='/phu-kien/mu-non-nam'
                                class='header__nav-dropdown-link'
                            >Mũ nón</a></li>
                        <li><a
                                href='/phu-kien/tui-xach-nam'
                                class='header__nav-dropdown-link'
                            >Túi xách</a></li>
                        <li><a
                                href='/phu-kien/mat-kinh-nam'
                                class='header__nav-dropdown-link'
                            >Mắt kính</a></li>
                    </ul>
                </li>
                <li class='header__nav-item'>
                    <a class='header__nav-item-link' href='/giay-dep'>GIÀY DÉP</a>
                    <ul class='header__nav-dropdown'>
                        <li><a
                                href='/giay-dep/giay-nam'
                                class='header__nav-dropdown-link'
                            >Giày</a></li>
                        <li><a
                                href='/giay-dep/sandal-nam'
                                class='header__nav-dropdown-link'
                            >Sandal</a></li>
                        <li><a
                                href='/giay-dep/dep-nam'
                                class='header__nav-dropdown-link'
                            >Dép</a></li>
                    </ul>
                </li>
                <li class='header__nav-item'>
                    <a class='header__nav-item-link' href='/khuyen-mai'>KHUYẾN
                        MÃI</a>
                    <span class='header__nav-badge'>Hot</span>
                </li>
            </ul>
            <!-- cart,search icon -->
            <div class='header__nav-icon'>
                <a href='/cart' class='cart__item'>
                    <div class='header__nav-icon-box'>
                        <i class='fas fa-shopping-cart'></i>
                        <div class="cart__list--wrap">
                            <!-- NO product : cart__list--no-product -->
                            <!-- Have product : cart__list--have-product -->
                            <div class="cart__list cart__list--have-product">
                                <img src="./assets/img/noproduct.png" alt="No Product" class="cart__list--no-product-img">
                                <span class="cart__list--no-product-mess">Chưa có sản phẩm</span>
                                
                                <h4 class="cart__list--have-product-heading">Sản phẩm đã thêm</h4>
                                <ul class="cart__list--have-product-list">
                                    <li class="cart__list--have-product-item">
                                        <img src="./assets/img/imageproduct.png" alt="" class="cart__list--have-product-img">
                                        <div class="cart__list--have-product-info">
                                            <a href="#" class="cart__list--have-product-link-item">Quần Jeans Rách Gối Form Slimfit QJ013132321324 Áo Quần Màu gì cũng có bà con ơi Màu Xanh Đỏ Tím Vàng Lục Lam Chàm Tím</a>
                                            <p class="cart__list--have-product-price">1 * 385.000</p>
                                            <div class="delete">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="cart__list--have-product-list">
                                    <li class="cart__list--have-product-item">
                                        <img src="./assets/img/imageproduct.png" alt="" class="cart__list--have-product-img">
                                        <div class="cart__list--have-product-info">
                                            <a href="#" class="cart__list--have-product-link-item">Quần Jeans Rách Gối Form Slimfit QJ013132321324 Áo Quần Màu gì cũng có bà con ơi Màu Xanh Đỏ Tím Vàng Lục Lam Chàm Tím</a>
                                            <p class="cart__list--have-product-price">1 * 385.000</p>
                                            <div class="delete">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="cart__list--have-product-list">
                                    <li class="cart__list--have-product-item">
                                        <img src="./assets/img/imageproduct.png" alt="" class="cart__list--have-product-img">
                                        <div class="cart__list--have-product-info">
                                            <a href="#" class="cart__list--have-product-link-item">Quần Jeans Rách Gối Form Slimfit QJ013132321324 Áo Quần Màu gì cũng có bà con ơi Màu Xanh Đỏ Tím Vàng Lục Lam Chàm Tím</a>
                                            <p class="cart__list--have-product-price">1 * 385.000</p>
                                            <div class="delete">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <a class="cart__list-button" href="#">Gửi đơn hàng</a>
                            </div>
                        </div>
                    </div>
                </a>
                <div class='header__nav-icon-box'>
                    <i class='fas fa-search'></i>
                    <form action='#' class='search__box' method='post'>
                        <input
                            type='text'
                            class='search__box--input'
                            name='text'
                            placeholder='Tìm kiếm'
                            autocomplete='off'
                        />
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>